@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$Very-dark-desaturated-blue: #1d1e35;
$Soft-red: #f47c57;
$Soft-violet: #af67e9;
$Soft-blue: #6565e7;
$Very-dark-grayish-blue: #4a4b5e;
$Dark-grayish-blue: #787887;
$Light-grayish-blue: #e7e7e9;

body {
  min-width: 460px;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background: $Soft-violet;
}

main {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding-top: 5rem;
  background: white;
  border-radius: 2rem;

  .illus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img {
      position: absolute;
      height: 100px;
      width: 100px;
    }
    .woman {
      top: 9rem;
      background: center url("../images/illustration-woman-online-mobile.svg")
        no-repeat;
      width: 70%;
      height: 15%;
    }
    .w-shadow {
      background: center url("../images/bg-pattern-mobile.svg") no-repeat;
      width: 100%;
      height: 15%;
      top: 13rem;
    }
  }
  .accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;

    h1 {
      text-align: center;
      font-weight: bolder;
    }
  }
}

.accordion-item {
  box-shadow: none;
  outline: none;
  border: none;

  button::after {
    display: flex;
    padding-right: 2rem;
    background: center url("../images/icon-arrow-down.svg") no-repeat;
    background-size: 1rem;
  }
}

.accordion-button::after {
  background: center url("../images/icon-arrow-down.svg") no-repeat;
  background-size: 1rem;
}

.accordion-button:not(.collapsed)::after {
  background: center url("../images/icon-arrow-down.svg") no-repeat;
  background-size: 1rem;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}
