@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$Very-dark-desaturated-blue: #1d1e35;
$Soft-red: #f47c57;
$Soft-violet: #af67e9;
$Soft-blue: #6565e7;
$Very-dark-grayish-blue: #4a4b5e;
$Dark-grayish-blue: #787887;
$Light-grayish-blue: #e7e7e9;

body {
  padding-top: 20px;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background: $Soft-violet;
}

main {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 2rem 1rem;
  background: white;
  border-radius: 2rem;

  .illus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
h1{
  text-align: center;
  font-weight: bolder;
}
}

.accordion-item {
  button::after {
    display: flex;
    padding-right: 2rem;
    background: center url("../images/icon-arrow-down.svg") no-repeat;
    background-size: 1rem;
  }
}

.accordion-button::after {
  background: center url("../images/icon-arrow-down.svg") no-repeat;
  background-size: 1rem;
}

.accordion-button:not(.collapsed)::after {
  background: center url("../images/icon-arrow-down.svg") no-repeat;
  background-size: 1rem;
}

.accordion-item {
  box-shadow: none;
  outline: none;
  border: none;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}
